<!DOCTYPE html>
<html>
  <head>
    <title>逻辑运算</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/fuc01/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/fuc01/data.js"></script>
  </head>
  
  <body>
    <div id="base" class="">

      <!-- Unnamed (SVG) -->
      <div id="u22" class="ax_default _图片_">
        <img id="u22_img" class="img " src="images/home/u0.svg"/>
        <div id="u22_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (SVG) -->
      <div id="u23" class="ax_default _图片_">
        <img id="u23_img" class="img " src="images/home/u1.svg"/>
        <div id="u23_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (SVG) -->
      <div id="u24" class="ax_default _图片_">
        <img id="u24_img" class="img " src="images/home/u12.svg"/>
        <div id="u24_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
		
      <!-- Unnamed (下拉列表) -->
      <div id="u25" class="ax_default droplist">
        <div id="u25_div" class=""></div>
        <select id="u25_input" class="u25_input">
          <option class="u25_input_option" value="运算方法">运算</option>
          <option class="u25_input_option" value="&">&</option>
          <option class="u25_input_option" value="|">|</option>
          <option class="u25_input_option" value="^">XOR</option>
        </select>
      </div>

 <form name="thisform" method="get">
      <!-- Unnamed (文本框) -->
      <div id="u27" class="ax_default text_field">
        <div id="u27_div" class=""></div>
        <input id="u27_input" type="text" value="输入二进制数1" class="u27_input" onClick="this.value=''" onkeyup="this.value=this.value.replace(/\D/g,'')"
    onafterpaste="this.value=this.value.replace(/\D/g,'')" onBlur="if(this.value=='')this.value='输入二进制数1'" />
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u28" class="ax_default text_field">
        <div id="u28_div" class=""></div>
        <input id="u28_input" type="text" value="输入二进制数2" class="u28_input" onClick="this.value=''" onkeyup="this.value=this.value.replace(/\D/g,'')"
    onafterpaste="this.value=this.value.replace(/\D/g,'')" onBlur="if(this.value=='')this.value='输入二进制数2'" />
      </div>
		
		
		<!-- Unnamed (矩形) -->
      <div id="u26" class="ax_default button">
        <div id="u26_div" class=""></div>
        <div id="u26_text" class="text ">
          <input type="button" onclick="json_post()" style="BACKGROUND-COLOR: transparent;border: 0" value="点击显示结果">
        </div>
      </div>
	 </form>
 <div id="u47" class="ax_default text_field">
        <div id="u47_div" class=""></div>
        <output id="u47_input" type="text" class="u47_input"  /></output>
      </div>

      <!-- Unnamed (图片 ) -->
      <a href="home.html"><div id="u29" class="ax_default _图片_">
        <img id="u29_img" class="img " src="images/fuc00/u21.png"/>
        <div id="u29_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div></a>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>

        <script type="text/javascript">
          function getRandomInRange(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
            }
            
          function json_post() {
            var In1 = document.getElementById("u27_input").value;
            var In2 = document.getElementById("u28_input").value;
            var Way = document.getElementById("u25_input").value;
            var object = {};
            var params = [];

            var binaryReg = /^[0-1]+$/;
            var decimalReg = /^[0-9]+$/;
            var hexadecimalReg = /^([0-9])|([a-fA-F])/;

            function checkBinary(binary) {
              return binaryReg.test(binary);
            }

            function checkDecimal(decimal) {
              return decimalReg.test(decimal);
            }

            function checkHex(hex) {
              return hexadecimalReg.test(hex);
            }

            object["id"] = getRandomInRange(0, 100);
            object["method"] = "LogicNum";
            object["jsonrpc"] = "2.0";
            object["params"] = [In1, In2, Way]

            if (!checkBinary(In1))
            {
              alert("二进制数1输入错误，请检查");
            }
            if (!checkBinary(In2)) {
              alert("二进制数2输入错误，请检查");
            }

            var json = JSON.stringify(object);
            $(document).ready(function () {
              $.ajax({
                type: 'POST',
                url: "http://localhost:5000/",
                data: json,
                contentType: 'application/json; charset=UTF-8',

                success: function (data) {
                  $("#u47_input").text(data.result);

                }

              });
            });
          }
        </script>
  </body>
</html>
