<!DOCTYPE html>
<html>
  <head>
    <title>加密解密</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/fuc03/styles.css" type="text/css" rel="stylesheet"/>
    <script src="resources/scripts/jquery-3.2.1.min.js"></script>
    <script src="data/document.js"></script>
    <script src="files/fuc03/data.js"></script>
  </head>
  
  <body>
    <div id="base" class="">

      <!-- Unnamed (SVG) -->
      <div id="u39" class="ax_default _图片_">
        <img id="u39_img" class="img " src="images/home/u0.svg"/>
        <div id="u39_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (SVG) -->
      <div id="u40" class="ax_default _图片_">
        <img id="u40_img" class="img " src="images/home/u1.svg"/>
        <div id="u40_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>

      <!-- Unnamed (SVG) -->
      <div id="u41" class="ax_default _图片_">
        <img id="u41_img" class="img " src="images/home/u12.svg"/>
        <div id="u41_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div>
<form name="thisform" method="get">
      <!-- Unnamed (矩形) -->
      <div id="u42" class="ax_default button">
        <div id="u42_div" class=""></div>
        <div id="u42_text" class="text ">
          <input type="button" onclick="json_post()" style="BACKGROUND-COLOR: transparent;border: 0" value="点击显示结果">
        </div>
      </div>

      <!-- Unnamed (文本框) -->
      <div id="u43" class="ax_default text_field">
        <div id="u43_div" class=""></div>
        <input id="u43_input" type="text" value="输入" class="u43_input" onClick="this.value=''" onBlur="if(this.value=='')this.value='输入'" />
      </div>

      

      <!-- Unnamed (下拉列表) -->
      <div id="u45" class="ax_default droplist">
        <div id="u45_div" class=""></div>
        <select id="u45_input" class="u45_input">
          <option class="u45_input_option" value="enc">加密</option>
          <option class="u45_input_option" value="dec">解密</option>
        </select>
      </div>
</form>

	<!-- Unnamed (文本框) -->
      <div id="u44" class="ax_default text_field">
        <div id="u44_div" class=""></div>
        <output id="u44_input" type="text" class="u44_input"  /></output>
      </div>

	
      <!-- Unnamed (图片 ) -->
      <a href="home.html"><div id="u46" class="ax_default _图片_">
        <img id="u46_img" class="img " src="images/fuc00/u21.png"/>
        <div id="u46_text" class="text " style="display:none; visibility: hidden">
          <p></p>
        </div>
      </div></a>
    </div>
    <script src="resources/scripts/axure/ios.js"></script>

        <script type="text/javascript">
          function getRandomInRange(min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
            }
            
          function json_post() {
            var Code = document.getElementById("u43_input").value;
            var Way = document.getElementById("u45_input").value;
            var object = {};
            var params = [];

            object["id"] = getRandomInRange(0, 100);
            object["method"] = "AEScode";
            object["jsonrpc"] = "2.0";
            object["params"] = [Code, Way];

            var json = JSON.stringify(object);
            $(document).ready(function () {
              $.ajax({
                type: 'POST',
                url: "http://localhost:5000/",
                data: json,
                contentType: 'application/json; charset=UTF-8',

                success: function (data) {
                  // console.log(data.result);
                  if (data.result)
                    $("#u44_input").text(data.result);
                  else
                    alert("AES解密失败");
                }
              });
            });
          }
        </script>
  </body>
</html>
